In [53]:
#Dependencies
import os
import csv
import pandas as pd

In [54]:
# Save path to data set in a variable
population_file = "sub-est2016_all.csv"
# Source: https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/cities/totals/sub-est2016_all.csv

states_file = "50_us_states_all_data.csv"
# Source: https://scottontechnology.com/list-of-50-us-states-in-excel/

In [55]:
# Use Pandas to read data
population_pd = pd.read_csv(population_file, encoding="ISO-8859-1")
population_pd.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780131,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2683,2685,2647,2631,2619,2616,2603
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4517,4495,4472,4447,4428,4395,4360
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,756,754,753,748,748,747,740,738
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,345,345,342,337,337,334

In [74]:
# Clean Up by referencing multiple columns within a DataFrame
population_df = population_pd[["NAME", "STNAME", "POPESTIMATE2016"]]
population_df.head()

              NAME   STNAME  POPESTIMATE2016
0          Alabama  Alabama          4863300
1   Abbeville city  Alabama             2603
2  Adamsville city  Alabama             4360
3     Addison town  Alabama              738
4       Akron town  Alabama              334

In [75]:
# Use Pandas to read list of States and Abbreviation
states_pd = pd.read_csv(states_file, encoding="ISO-8859-1", header = None)
states_pd.head()

            0           1   2       3
0     ALABAMA     Alabama  AL    Ala.
1      ALASKA      Alaska  AK  Alaska
2     ARIZONA     Arizona  AZ   Ariz.
3    ARKANSAS    Arkansas  AR    Ark.
4  CALIFORNIA  California  CA  Calif.

In [76]:
# Rename header for list of States and Abbreviation
states_pd.columns=['States_CAP',
                   'NAME',
                   'Abbrev',
                   'Abbrev_2']

states_pd.head()

   States_CAP        NAME Abbrev Abbrev_2
0     ALABAMA     Alabama     AL     Ala.
1      ALASKA      Alaska     AK   Alaska
2     ARIZONA     Arizona     AZ    Ariz.
3    ARKANSAS    Arkansas     AR     Ark.
4  CALIFORNIA  California     CA   Calif.

In [77]:
# Clean Up by referencing multiple columns within a DataFrame
states_df = states_pd[["NAME", "Abbrev"]]
states_df.head()

         NAME Abbrev
0     Alabama     AL
1      Alaska     AK
2     Arizona     AZ
3    Arkansas     AR
4  California     CA

In [84]:
# Merge two dataframes using a left join
merged_df = pd.merge(states_df, population_df, on="NAME", how="left")
merged_df

              NAME Abbrev          STNAME  POPESTIMATE2016
0          Alabama     AL         Alabama          4863300
1           Alaska     AK          Alaska           741894
2          Arizona     AZ         Arizona          6931071
3         Arkansas     AR        Arkansas          2988248
4       California     CA      California         39250017
5         Colorado     CO        Colorado          5540545
6      Connecticut     CT     Connecticut          3576452
7         Delaware     DE        Delaware           952065
8          Florida     FL         Florida         20612439
9          Georgia     GA         Georgia         10310371
10          Hawaii     HI          Hawaii          1428557
11           Idaho     ID           Idaho          1683140
12        Illinois     IL        Illinois         12801539
13         Indiana     IN         Indiana          6633053
14            Iowa     IA            Iowa          3134693
15          Kansas     KS          Kansas          2907289
16        Kentucky     KY        Kentucky          4436974
17       Louisiana     LA       Louisiana          4681666
18           Maine     ME           Maine          1331479
19        Maryland     MD        Maryland          6016447
20   Massachusetts     MA   Massachusetts          6811779
21        Michigan     MI        Michigan          9928300
22       Minnesota     MN       Minnesota          5519952
23     Mississippi     MS     Mississippi          2988726
24        Missouri     MO        Missouri          6093000
25         Montana     MT         Montana          1042520
26        Nebraska     NE        Nebraska          1907116
27          Nevada     NV          Nevada          2940058
28   New Hampshire     NH   New Hampshire          1334795
29      New Jersey     NJ      New Jersey          8944469
30      New Mexico     NM      New Mexico          2081015
31        New York     NY        New York         19745289
32  North Carolina     NC  North Carolina         10146788
33    North Dakota     ND    North Dakota           757952
34            Ohio     OH            Ohio         11614373
35        Oklahoma     OK        Oklahoma          3923561
36          Oregon     OR          Oregon          4093465
37    Pennsylvania     PA    Pennsylvania         12784227
38    Rhode Island     RI    Rhode Island          1056426
39  South Carolina     SC  South Carolina          4961119
40    South Dakota     SD    South Dakota           865454
41       Tennessee     TN       Tennessee          6651194
42           Texas     TX           Texas         27862596
43            Utah     UT            Utah          3051217
44         Vermont     VT         Vermont           624594
45        Virginia     VA        Virginia          8411808
46      Washington     WA      Washington          7288000
47   West Virginia     WV   West Virginia          1831102
48       Wisconsin     WI       Wisconsin          5778708
49         Wyoming     WY         Wyoming           585501

In [85]:
# Push the merged Population DataFrame to a new CSV file
merged_df.to_csv("population_clean.csv",
                  encoding="utf-8", index=True, header=True)