In [133]:
#Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [134]:
# Save path to data set in a variable
population = "population_clean.csv"

In [135]:
# Use Pandas to read data
population = pd.read_csv(population, encoding="ISO-8859-1")
population.head()

   Unnamed: 0   STNAME State             City  PopEstimate2016
0           0  Alabama    AL   ABBEVILLE CITY             2603
1           1  Alabama    AL  ADAMSVILLE CITY             4360
2           2  Alabama    AL     ADDISON TOWN              738
3           3  Alabama    AL       AKRON TOWN              334
4           4  Alabama    AL   ALABASTER CITY            32948

In [136]:
# # TEST CODE to grab the first string contained within the "NAME" column using RED WING (city where Mayo clinic is located)
# test = merged_df[merged_df["NAME"].str.contains("RED WING")]
# test

In [137]:
# Save path to TEST data frame in a variable (snip from Rabia's codes)
df_file = "test_df.csv"
df_file

'test_df.csv'

In [138]:
# Read TEST data frame
test_pd = pd.read_csv(df_file)
test_pd

,Hospital,Location,City,City Population,County,County Population,Mortality Rates (by county),State,Survey Rating,Surveys Completed,Survey Response Rate (%)
0,MAYO CLINIC HEALTH SYSTEM - RED WING,"701 HEWITT BOULEVARD, PO BOX 95\nRED WING, MN\...",RED WING,NaN,GOODHUE,NaN,NaN,MN,NaN,347,33
1,PROMEDICA HERRICK HOSPITAL,"500 E POTTAWATAMIE STREET\nTECUMSEH, MI\n(42.0...",TECUMSEH,NaN,LENAWEE,NaN,NaN,MI,NaN,Not Available,Not Available
2,BRONSON LAKEVIEW HOSPITAL,"408 HAZEN STREET\nPAW PAW, MI\n(42.221009, -85...",PAW PAW,NaN,VAN BUREN,NaN,NaN,MI,NaN,130,30
3,MAYO CLINIC HOSPITAL ROCHESTER,"1216 SECOND STREET SOUTHWEST\nROCHESTER, MN\n(...",ROCHESTER,NaN,OLMSTED,NaN,NaN,MN,NaN,NaN,NaN

In [139]:
test_pd.columns

Index(['Hospital', 'Location', 'City', 'City Population', 'County',
       'County Population', 'Mortality Rates (by county)', 'State',
       'Survey Rating', 'Surveys Completed', 'Survey Response Rate (%)'],
      dtype='object')

In [140]:
# Rearrange Columns in preparation for grouping
PE = test_pd[['State', 'City','City Population','Hospital', 'Location',  'County',
       'County Population', 'Mortality Rates (by county)', 'Survey Rating', 'Surveys Completed', 'Survey Response Rate (%)']]
PE.head()

,State,City,City Population,Hospital,Location,County,County Population,Mortality Rates (by county),Survey Rating,Surveys Completed,Survey Response Rate (%)
0,MN,RED WING,NaN,MAYO CLINIC HEALTH SYSTEM - RED WING,"701 HEWITT BOULEVARD, PO BOX 95\nRED WING, MN\...",GOODHUE,NaN,NaN,NaN,347,33
1,MI,TECUMSEH,NaN,PROMEDICA HERRICK HOSPITAL,"500 E POTTAWATAMIE STREET\nTECUMSEH, MI\n(42.0...",LENAWEE,NaN,NaN,NaN,Not Available,Not Available
2,MI,PAW PAW,NaN,BRONSON LAKEVIEW HOSPITAL,"408 HAZEN STREET\nPAW PAW, MI\n(42.221009, -85...",VAN BUREN,NaN,NaN,NaN,130,30
3,MN,ROCHESTER,NaN,MAYO CLINIC HOSPITAL ROCHESTER,"1216 SECOND STREET SOUTHWEST\nROCHESTER, MN\n(...",OLMSTED,NaN,NaN,NaN,NaN,NaN

In [151]:
PE = test_pd[['State', 'City','City Population','Hospital', ]]
PE.head()

  State       City  City Population                              Hospital
0    MN   RED WING              NaN  MAYO CLINIC HEALTH SYSTEM - RED WING
1    MI   TECUMSEH              NaN            PROMEDICA HERRICK HOSPITAL
2    MI    PAW PAW              NaN             BRONSON LAKEVIEW HOSPITAL
3    MN  ROCHESTER              NaN        MAYO CLINIC HOSPITAL ROCHESTER

In [153]:
# PE.sort_values("State", inplace=True)
# PE

In [156]:
# https://stackoverflow.com/questions/42698281/pandas-if-value-in-a-dataframe-contains-string-from-another-dataframe-append
# Merge PE (df1) and population (df2) dfs

def return_nan(tup):
    return(np.nan if len(tup[0]) == 0 else tup[0][0])


def get_indexes_match(State, City):
    return([return_nan(np.where([x in e for x in City])) for e in State])


def merge(PE, population, left_on, right_on):
    PE.loc[:, 'idx'] = get_indexes_match(PE[left_on].values,
                                          population[right_on].values)
    population.loc[:, 'idx'] = np.arange(len(population))
    return(pd.merge(PE, population, how='left', on='idx'))


merge(PE, population, left_on='State', right_on='State')

C:\Users\Vilma\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,State_x,City_x,City Population,Hospital,idx,Unnamed: 0,STNAME,State_y,City_y,PopEstimate2016
0,MI,TECUMSEH,NaN,PROMEDICA HERRICK HOSPITAL,28823,28823,Michigan,MI,ADDISON VILLAGE,593
1,MI,PAW PAW,NaN,BRONSON LAKEVIEW HOSPITAL,28823,28823,Michigan,MI,ADDISON VILLAGE,593
2,MN,RED WING,NaN,MAYO CLINIC HEALTH SYSTEM - RED WING,32512,32512,Minnesota,MN,ADA CITY,1629
3,MN,ROCHESTER,NaN,MAYO CLINIC HOSPITAL ROCHESTER,32512,32512,Minnesota,MN,ADA CITY,1629

In [121]:
# MERGE 
# df_all = PE.merge(population.drop_duplicates(), on=['State','City'], 
#                    how='left', indicator=True)
# df_all

,State,City,City Population,Hospital,Location,County,County Population,Mortality Rates (by county),Survey Rating,Surveys Completed,Survey Response Rate (%),Unnamed: 0,STNAME,PopEstimate2016,_merge
0,MI,TECUMSEH,NaN,PROMEDICA HERRICK HOSPITAL,"500 E POTTAWATAMIE STREET\nTECUMSEH, MI\n(42.0...",LENAWEE,NaN,NaN,NaN,Not Available,Not Available,NaN,NaN,NaN,left_only
1,MI,PAW PAW,NaN,BRONSON LAKEVIEW HOSPITAL,"408 HAZEN STREET\nPAW PAW, MI\n(42.221009, -85...",VAN BUREN,NaN,NaN,NaN,130,30,NaN,NaN,NaN,left_only
2,MN,RED WING,NaN,MAYO CLINIC HEALTH SYSTEM - RED WING,"701 HEWITT BOULEVARD, PO BOX 95\nRED WING, MN\...",GOODHUE,NaN,NaN,NaN,347,33,NaN,NaN,NaN,left_only
3,MN,ROCHESTER,NaN,MAYO CLINIC HOSPITAL ROCHESTER,"1216 SECOND STREET SOUTHWEST\nROCHESTER, MN\n(...",OLMSTED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [132]:
PE.City.isin(pd.population.City)

AttributeError: module 'pandas' has no attribute 'population'

In [126]:
# Loop through PE (df2) and population (df1) dfs

# xx = population.set_index('PopEstimate2016').values.tolist()

# for i, row in PE.iterrows():
#     if row["City"] == population['City']:
#         xx.append(i)
# PE['New'] = PE.apply(lambda x : [y for y in xx if x in y] )
# PE = PE[PE.New.apply(len)>0]
# PE['New'] = PE.New.apply(pd.Series)[0].apply(lambda x : ','.join(x))
# PE
# # for index, row in grouped_PE.

# 1) Match by State
#     if PE[""] == POP["State"]
#        print("Yes")
    
#         else:
#        print("No")

#    # 2) If PE['City'] is in POP['City'], 
#         # add the corresponding value of POP['POPESTIMATE2016'] to the row of PE['City Population'] where there is a match.

        
# population_df = population_df[~population_df.index.isin(dups_index)]
# # population_df.head()


# # What I need to do is, if df2['code'] is in df1['allcodes'], 
# add the corresponding value of allcodes to the end of a row in df2 where there is a match.

#https://stackoverflow.com/questions/46591928/python-pandas-add-value-from-one-df-to-end-of-row-in-another-df-if-there-is-a-m

AttributeError: 'Series' object has no attribute 'set_index'

In [157]:
# x_index = []
# for i, row in grouped_PE.iterrows():
#     if row['City'] == population.row['City']:
#         x_index.append(i)
# x_index

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [83]:
grouped_PE = PE.groupby(['State', 'City'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_PE)

# In order to be visualized, a data function must be used...
grouped_PE.count().head()

<pandas.core.groupby.DataFrameGroupBy object at 0x00000254DB72CA20>

                 City Population  Hospital  Location  County  \
State City
MI    PAW PAW                  0         1         1       1
      TECUMSEH                 0         1         1       1
MN    RED WING                 0         1         1       1
      ROCHESTER                0         1         1       1

                 County Population  Mortality Rates (by county)  \
State City
MI    PAW PAW                    0                            0
      TECUMSEH                   0                            0
MN    RED WING                   0                            0
      ROCHESTER                  0                            0

                 Survey Rating  Surveys Completed  Survey Response Rate (%)
State City
MI    PAW PAW                0                  1                         1
      TECUMSEH               0                  1                         1
MN    RED WING               0                  1                         1
      ROCHESTER              0                  0                         0